


.row {
  display: flex;
}

.columnLt {
  flex: 40%;
}

.columnRt {
  flex: 40%;
}

.map {
	width:50%;
}
#foodForm{

	display: inline-flex 
	width: 10%;
}

.lt{ 
	display: inline-flex 
width:50%;
/*flex:50%;*/
 }

 .rt{ 
	display: inline-flex 

width:50%;

/*flex:50%;*/
 }

 #foodForm{

 	margin: 1em ;
 }

 #btm{
 	
 	 width: 100%;
 }

 #record{
 	width: 75%;
 }

 #totalD{
 	display: inline;
 	color: green;
 	font-size:4em;

 }

#totDont{
display: inline
 }